In [2]:
import pandas as pd

In [3]:
cab=pd.read_excel('dictionary.xlsx')
cab.head(10)

,feature,nombre,descripcion,categoria,clave
0,customer_subtype,MOSTYPE,Customer Subtype,categoria,L0
1,num_houses_1_10,MAANTHUI,Number of houses 1 –10,numero,None
2,avg_size_household_1_6,MGEMOMV,Avg size household 1 –6,numero,None
3,avg_age,MGEMLEEF,Avg age see L1,ordinal,L1
4,customer_type,MOSHOOFD,Customer main type see L2,categoria,L2
5,roman_catholic,MGODRK,Roman catholic see L3,ordinal,L3
6,protestant,MGODPR,Protestant ...,ordinal,L3
7,other_religion,MGODOV,Other religion,ordinal,L3
8,no_religion,MGODGE,No religion,ordinal,L3
9,married,MRELGE,Married,ordinal,L3

In [4]:
data = pd.read_csv('ticdata2000.txt', sep="	", names=cab.nombre)
data.head()

,MOSTYPE,MAANTHUI,MGEMOMV,MGEMLEEF,MOSHOOFD,MGODRK,MGODPR,MGODOV,MGODGE,MRELGE,...,APERSONG,AGEZONG,AWAOREG,ABRAND,AZEILPL,APLEZIER,AFIETS,AINBOED,ABYSTAND,CARAVAN
0,33,1,3,2,8,0,5,1,3,7,...,0,0,0,1,0,0,0,0,0,0
1,37,1,2,2,8,1,4,1,4,6,...,0,0,0,1,0,0,0,0,0,0
2,37,1,2,2,8,0,4,2,4,3,...,0,0,0,1,0,0,0,0,0,0
3,9,1,3,3,3,2,3,2,4,5,...,0,0,0,1,0,0,0,0,0,0
4,40,1,4,2,10,1,4,1,4,7,...,0,0,0,1,0,0,0,0,0,0

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5822 entries, 0 to 5821
Data columns (total 86 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   MOSTYPE   5822 non-null   int64
 1   MAANTHUI  5822 non-null   int64
 2   MGEMOMV   5822 non-null   int64
 3   MGEMLEEF  5822 non-null   int64
 4   MOSHOOFD  5822 non-null   int64
 5   MGODRK    5822 non-null   int64
 6   MGODPR    5822 non-null   int64
 7   MGODOV    5822 non-null   int64
 8   MGODGE    5822 non-null   int64
 9   MRELGE    5822 non-null   int64
 10  MRELSA    5822 non-null   int64
 11  MRELOV    5822 non-null   int64
 12  MFALLEEN  5822 non-null   int64
 13  MFGEKIND  5822 non-null   int64
 14  MFWEKIND  5822 non-null   int64
 15  MOPLHOOG  5822 non-null   int64
 16  MOPLMIDD  5822 non-null   int64
 17  MOPLLAAG  5822 non-null   int64
 18  MBERHOOG  5822 non-null   int64
 19  MBERZELF  5822 non-null   int64
 20  MBERBOER  5822 non-null   int64
 21  MBERMIDD  5822 non-null   int64
 22  MBERARBG  5822 non-null   int64
 23  MBERARBO  5822 non-null   int64
 24  MSKA      5822 non-null   int64
 25  MSKB1     5822 non-null   int64
 26  MSKB2     5822 non-null   int64
 27  MSKC      5822 non-null   int64
 28  MSKD      5822 non-null   int64
 29  MHHUUR    5822 non-null   int64
 30  MHKOOP    5822 non-null   int64
 31  MAUT1     5822 non-null   int64
 32  MAUT2     5822 non-null   int64
 33  MAUT0     5822 non-null   int64
 34  MZFONDS   5822 non-null   int64
 35  MZPART    5822 non-null   int64
 36  MINKM30   5822 non-null   int64
 37  MINK3045  5822 non-null   int64
 38  MINK4575  5822 non-null   int64
 39  MINK7512  5822 non-null   int64
 40  MINK123M  5822 non-null   int64
 41  MINKGEM   5822 non-null   int64
 42  MKOOPKLA  5822 non-null   int64
 43  PWAPART   5822 non-null   int64
 44  PWABEDR   5822 non-null   int64
 45  PWALAND   5822 non-null   int64
 46  PPERSAUT  5822 non-null   int64
 47  PBESAUT   5822 non-null   int64
 48  PMOTSCO   5822 non-null   int64
 49  PVRAAUT   5822 non-null   int64
 50  PAANHANG  5822 non-null   int64
 51  PTRACTOR  5822 non-null   int64
 52  PWERKT    5822 non-null   int64
 53  PBROM     5822 non-null   int64
 54  PLEVEN    5822 non-null   int64
 55  PPERSONG  5822 non-null   int64
 56  PGEZONG   5822 non-null   int64
 57  PWAOREG   5822 non-null   int64
 58  PBRAND    5822 non-null   int64
 59  PZEILPL   5822 non-null   int64
 60  PPLEZIER  5822 non-null   int64
 61  PFIETS    5822 non-null   int64
 62  PINBOED   5822 non-null   int64
 63  PBYSTAND  5822 non-null   int64
 64  AWAPART   5822 non-null   int64
 65  AWABEDR   5822 non-null   int64
 66  AWALAND   5822 non-null   int64
 67  APERSAUT  5822 non-null   int64
 68  ABESAUT   5822 non-null   int64
 69  AMOTSCO   5822 non-null   int64
 70  AVRAAUT   5822 non-null   int64
 71  AAANHANG  5822 non-null   int64
 72  ATRACTOR  5822 non-null   int64
 73  AWERKT    5822 non-null   int64
 74  ABROM     5822 non-null   int64
 75  ALEVEN    5822 non-null   int64
 76  APERSONG  5822 non-null   int64
 77  AGEZONG   5822 non-null   int64
 78  AWAOREG   5822 non-null   int64
 79  ABRAND    5822 non-null   int64
 80  AZEILPL   5822 non-null   int64
 81  APLEZIER  5822 non-null   int64
 82  AFIETS    5822 non-null   int64
 83  AINBOED   5822 non-null   int64
 84  ABYSTAND  5822 non-null   int64
 85  CARAVAN   5822 non-null   int64
dtypes: int64(86)
memory usage: 3.8 MB

In [6]:
sum(data.isnull().sum()>0)

0

In [7]:
cat=cab.nombre[cab.categoria=='categoria']
data[cat]=data[cat].astype('category',)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5822 entries, 0 to 5821
Data columns (total 86 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   MOSTYPE   5822 non-null   category
 1   MAANTHUI  5822 non-null   int64
 2   MGEMOMV   5822 non-null   int64
 3   MGEMLEEF  5822 non-null   int64
 4   MOSHOOFD  5822 non-null   category
 5   MGODRK    5822 non-null   int64
 6   MGODPR    5822 non-null   int64
 7   MGODOV    5822 non-null   int64
 8   MGODGE    5822 non-null   int64
 9   MRELGE    5822 non-null   int64
 10  MRELSA    5822 non-null   int64
 11  MRELOV    5822 non-null   int64
 12  MFALLEEN  5822 non-null   int64
 13  MFGEKIND  5822 non-null   int64
 14  MFWEKIND  5822 non-null   int64
 15  MOPLHOOG  5822 non-null   int64
 16  MOPLMIDD  5822 non-null   int64
 17  MOPLLAAG  5822 non-null   int64
 18  MBERHOOG  5822 non-null   int64
 19  MBERZELF  5822 non-null   int64
 20  MBERBOER  5822 non-null   int64
 21  MBERMIDD  5822 non-null   int64
 22  MBERARBG  5822 non-null   int64
 23  MBERARBO  5822 non-null   int64
 24  MSKA      5822 non-null   int64
 25  MSKB1     5822 non-null   int64
 26  MSKB2     5822 non-null   int64
 27  MSKC      5822 non-null   int64
 28  MSKD      5822 non-null   int64
 29  MHHUUR    5822 non-null   int64
 30  MHKOOP    5822 non-null   int64
 31  MAUT1     5822 non-null   int64
 32  MAUT2     5822 non-null   int64
 33  MAUT0     5822 non-null   int64
 34  MZFONDS   5822 non-null   int64
 35  MZPART    5822 non-null   int64
 36  MINKM30   5822 non-null   int64
 37  MINK3045  5822 non-null   int64
 38  MINK4575  5822 non-null   int64
 39  MINK7512  5822 non-null   int64
 40  MINK123M  5822 non-null   int64
 41  MINKGEM   5822 non-null   int64
 42  MKOOPKLA  5822 non-null   int64
 43  PWAPART   5822 non-null   int64
 44  PWABEDR   5822 non-null   int64
 45  PWALAND   5822 non-null   int64
 46  PPERSAUT  5822 non-null   int64
 47  PBESAUT   5822 non-null   int64
 48  PMOTSCO   5822 non-null   int64
 49  PVRAAUT   5822 non-null   int64
 50  PAANHANG  5822 non-null   int64
 51  PTRACTOR  5822 non-null   int64
 52  PWERKT    5822 non-null   int64
 53  PBROM     5822 non-null   int64
 54  PLEVEN    5822 non-null   int64
 55  PPERSONG  5822 non-null   int64
 56  PGEZONG   5822 non-null   int64
 57  PWAOREG   5822 non-null   int64
 58  PBRAND    5822 non-null   int64
 59  PZEILPL   5822 non-null   int64
 60  PPLEZIER  5822 non-null   int64
 61  PFIETS    5822 non-null   int64
 62  PINBOED   5822 non-null   int64
 63  PBYSTAND  5822 non-null   int64
 64  AWAPART   5822 non-null   int64
 65  AWABEDR   5822 non-null   int64
 66  AWALAND   5822 non-null   int64
 67  APERSAUT  5822 non-null   int64
 68  ABESAUT   5822 non-null   int64
 69  AMOTSCO   5822 non-null   int64
 70  AVRAAUT   5822 non-null   int64
 71  AAANHANG  5822 non-null   int64
 72  ATRACTOR  5822 non-null   int64
 73  AWERKT    5822 non-null   int64
 74  ABROM     5822 non-null   int64
 75  ALEVEN    5822 non-null   int64
 76  APERSONG  5822 non-null   int64
 77  AGEZONG   5822 non-null   int64
 78  AWAOREG   5822 non-null   int64
 79  ABRAND    5822 non-null   int64
 80  AZEILPL   5822 non-null   int64
 81  APLEZIER  5822 non-null   int64
 82  AFIETS    5822 non-null   int64
 83  AINBOED   5822 non-null   int64
 84  ABYSTAND  5822 non-null   int64
 85  CARAVAN   5822 non-null   category
dtypes: category(3), int64(83)
memory usage: 3.7 MB

In [8]:
cat=cab.nombre[cab.categoria=='ordinal']
data[cat]=data[cat].astype('category',)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5822 entries, 0 to 5821
Data columns (total 86 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   MOSTYPE   5822 non-null   category
 1   MAANTHUI  5822 non-null   int64
 2   MGEMOMV   5822 non-null   int64
 3   MGEMLEEF  5822 non-null   category
 4   MOSHOOFD  5822 non-null   category
 5   MGODRK    5822 non-null   category
 6   MGODPR    5822 non-null   category
 7   MGODOV    5822 non-null   category
 8   MGODGE    5822 non-null   category
 9   MRELGE    5822 non-null   category
 10  MRELSA    5822 non-null   category
 11  MRELOV    5822 non-null   category
 12  MFALLEEN  5822 non-null   category
 13  MFGEKIND  5822 non-null   category
 14  MFWEKIND  5822 non-null   category
 15  MOPLHOOG  5822 non-null   category
 16  MOPLMIDD  5822 non-null   category
 17  MOPLLAAG  5822 non-null   category
 18  MBERHOOG  5822 non-null   category
 19  MBERZELF  5822 non-null   category
 20  MBERBOER  5822 non-null   category
 21  MBERMIDD  5822 non-null   category
 22  MBERARBG  5822 non-null   category
 23  MBERARBO  5822 non-null   category
 24  MSKA      5822 non-null   category
 25  MSKB1     5822 non-null   category
 26  MSKB2     5822 non-null   category
 27  MSKC      5822 non-null   category
 28  MSKD      5822 non-null   category
 29  MHHUUR    5822 non-null   category
 30  MHKOOP    5822 non-null   category
 31  MAUT1     5822 non-null   category
 32  MAUT2     5822 non-null   category
 33  MAUT0     5822 non-null   category
 34  MZFONDS   5822 non-null   category
 35  MZPART    5822 non-null   category
 36  MINKM30   5822 non-null   category
 37  MINK3045  5822 non-null   category
 38  MINK4575  5822 non-null   category
 39  MINK7512  5822 non-null   category
 40  MINK123M  5822 non-null   category
 41  MINKGEM   5822 non-null   category
 42  MKOOPKLA  5822 non-null   category
 43  PWAPART   5822 non-null   category
 44  PWABEDR   5822 non-null   category
 45  PWALAND   5822 non-null   category
 46  PPERSAUT  5822 non-null   category
 47  PBESAUT   5822 non-null   category
 48  PMOTSCO   5822 non-null   category
 49  PVRAAUT   5822 non-null   category
 50  PAANHANG  5822 non-null   category
 51  PTRACTOR  5822 non-null   category
 52  PWERKT    5822 non-null   category
 53  PBROM     5822 non-null   category
 54  PLEVEN    5822 non-null   category
 55  PPERSONG  5822 non-null   category
 56  PGEZONG   5822 non-null   category
 57  PWAOREG   5822 non-null   category
 58  PBRAND    5822 non-null   category
 59  PZEILPL   5822 non-null   category
 60  PPLEZIER  5822 non-null   category
 61  PFIETS    5822 non-null   category
 62  PINBOED   5822 non-null   category
 63  PBYSTAND  5822 non-null   category
 64  AWAPART   5822 non-null   int64
 65  AWABEDR   5822 non-null   int64
 66  AWALAND   5822 non-null   int64
 67  APERSAUT  5822 non-null   int64
 68  ABESAUT   5822 non-null   int64
 69  AMOTSCO   5822 non-null   int64
 70  AVRAAUT   5822 non-null   int64
 71  AAANHANG  5822 non-null   int64
 72  ATRACTOR  5822 non-null   int64
 73  AWERKT    5822 non-null   int64
 74  ABROM     5822 non-null   int64
 75  ALEVEN    5822 non-null   int64
 76  APERSONG  5822 non-null   int64
 77  AGEZONG   5822 non-null   int64
 78  AWAOREG   5822 non-null   int64
 79  ABRAND    5822 non-null   int64
 80  AZEILPL   5822 non-null   int64
 81  APLEZIER  5822 non-null   int64
 82  AFIETS    5822 non-null   int64
 83  AINBOED   5822 non-null   int64
 84  ABYSTAND  5822 non-null   int64
 85  CARAVAN   5822 non-null   category
dtypes: category(63), int64(23)
memory usage: 1.4 MB

In [10]:
print(data.PPLEZIER.unique)

<bound method Series.unique of 0       0
1       0
2       0
3       0
4       0
       ..
5817    0
5818    0
5819    0
5820    0
5821    0
Name: PPLEZIER, Length: 5822, dtype: category
Categories (7, int64): [0, 1, 2, 3, 4, 5, 6]>